<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWIFT Mobile auth</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/actions2.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
    <script src="templates/actions2.js"></script>
    <script src="templates/sorttable.js"></script>
</head>
<body>
    <div class="header">
        <div id="logo">
            <img id="logoimg" src="images/catlogo.png" alt="logo" >
           
        </div>
        
        <div id="titleContent">
            <ul>
               <a href="#"> <li>Home</li></a>
               <a href="#"> <li>History</li></a>
               <a href="#"> <li></li></a>
            </ul>
            <a href="#"><i id="logout" title="Hi, Mohankumar Nithyanandham" class='fas fa-user-circle' ></i></a>
            
        </div>
    </div>
    
    <span class="counter pull-right"></span>
    <table id="myTable" class="fold-table sortable">
      <thead>
        <tr>
          <th>FullName</th><th>CWS</th><th>Mobile Model</th><th>Mobile Number</th><th>Approver</th><th>Timestamp</th><th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="view">
          <td>Mohankumar</td>
          <td class="pcs">nithym</td>
          <td class="cur">poco</td>
          <td class="per">9600403815</td>
          <td class="per">Prem</td>
          <td class="per">11:09:09</td>
          <td>Approved</td>
        </tr>
        
        <tr class="view">
          <td>Mohankumar</td>
          <td class="pcs">nithym</td>
          <td class="cur">6535178</td>
          <td>-</td>
          <td class="per">50,71</td>
          <td class="per">49,21</td>
          <td class="per">0</td>
        </tr>
        
        <tr class="view">
          <td>Company Name</td>
          <td class="pcs">457</td>
          <td class="cur">6535178</td>
          <td>-</td>
          <td class="per">50,71</td>
          <td class="per">49,21</td>
          <td class="per">0</td>
        </tr>
        
        <tr class="view">
          <td>Company Name</td>
          <td class="pcs">457</td>
          <td class="cur">6535178</td>
          <td>-</td>
          <td class="per">50,71</td>
          <td class="per">49,21</td>
          <td class="per">0</td>
        </tr>
        
        <tr class="view">
          <td>Company Name</td>
          <td class="pcs">457</td>
          <td class="cur">6535178</td>
          <td>-</td>
          <td class="per">50,71</td>
          <td class="per">49,21</td>
          <td class="per">0</td>
        </tr>
        
        <tr class="view">
          <td>Company Name</td>
          <td class="pcs">457</td>
          <td class="cur">6535178</td>
          <td>-</td>
          <td class="per">50,71</td>
          <td class="per">49,21</td>
          <td class="per">0</td>
        </tr>
        
        <tr class="view">
          <td>Company Name</td>
          <td class="pcs">457</td>
          <td class="cur">6535178</td>
          <td>-</td>
          <td class="per">50,71</td>
          <td class="per">49,21</td>
          <td class="per">0</td>
        </tr>
        
        <tr class="view">
          <td>Company Name</td>
          <td class="pcs">457</td>
          <td class="cur">6535178</td>
          <td>-</td>
          <td class="per">50,71</td>
          <td class="per">49,21</td>
          <td class="per">0</td>
        </tr>
        
      </tbody>
    </table>

</body>
</html>